

.title {
    text-align: center;
    background-color: bisque;
    padding: 2rem;
}

/*h2 {
    visibility: hidden;
}*/

#click {
    text-align: end;
    margin-right: 400px;
    margin-top: 3rem;
}

#yesbanana {
    display: none;
}

#nobanana {
    
}

.pics {
    /*border: solid black 1rem;*/
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

#portrait {
    /*border: solid green 1rem;*/
    margin-right: 350px;
   
}

#target {
   
}

#apple {
    /*border: solid red 2px;*/
    margin-top: 5rem;
    width: 20rem;
    height: auto;
    margin-left: 50px;
}

#droplets {
    position: absolute;
    width: 20rem;
    height: auto;
    left: 600px;
    top: 350px;
    visibility: hidden;
    /*left: 120px;
    transition-duration: 1s;*/
    
}

@keyframes right-to-left {
    0% {left: 670px;
        transform: rotate(20deg);
        top: 300px;}
    50% {
        
        top: 240px;}    
    100% {left: 70px;
        transform: rotate(-70deg);
        top: 350px;}
}

.animateDroplets {
    animation: right-to-left 1.2s infinite;
}

h3 {
    animation: textBlink 1s infinite;
}

@keyframes textBlink {
    0% {color: red;}
    25% {color: rgb(47, 0, 255);}
    50% {color: rgb(183, 255, 0);}
    100% {color: rgb(255, 255, 0);}
}



@media screen and (max-width: 1180px) {
    @keyframes right-to-left {
        0% {left: 250px;
            transform: rotate(20deg);
            top: 300px;}
        50% {
            
            top: 240px;}    
        100% {left: 70px;
            transform: rotate(-70deg);
            top: 350px;}
    }

    #click {
        text-align: end;
        margin-right: 300px;
        margin-top: 3rem;
    }
   
}