html,body{
    overflow-x: hidden;
}

.title {
    text-align: center;
    background-color: bisque;
    padding: 1rem;
}

/*h2 {
    visibility: hidden;
}*/

#click {
    text-align: end;
    margin-right: 400px;
    margin-top: 3rem;
}

#yesbanana {
    display: none;
}

#nobanana {
    
}

.pics {
    /*border: solid black 1rem;*/
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

#portrait {
    /*border: solid green 1rem;*/
    margin-right: 350px;
   
}

#target {
   
}

#apple {
    /*border: solid red 2px;*/
    margin-top: 5rem;
    width: 20rem;
    height: auto;
    margin-left: 50px;
}

#droplets {
    position: absolute;
    width: 20rem;
    height: auto;
    left: 50px;
    top: 50px;
    visibility: hidden;
    /*left: 120px;
    transition-duration: 1s;*/
    
}

@keyframes right-to-left {
    0% {left: 670px;
        transform: rotate(20deg);
        top: 300px;}
    50% {
        
        top: 240px;}    
    100% {left: 70px;
        transform: rotate(-70deg);
        top: 350px;}
}

.animateDroplets {
    animation: right-to-left 1.2s infinite;
}

h3 {
    animation: textBlink 1s infinite;
}

@keyframes textBlink {
    0% {color: red;}
    25% {color: rgb(47, 0, 255);}
    50% {color: rgb(183, 255, 0);}
    100% {color: rgb(255, 255, 0);}
}

.thumbs {
    margin: 20px;
    
    display: flex;
    justify-content: center;
    background-color: aqua;
}

#thumbsup {
    width: 3rem;
    height: auto;
    padding: 10px;
}

#thumbsdown {
    width: 3rem;
    height: auto;
    padding: 10px;
}

#response {
    position: absolute;
    visibility: hidden;
    font-size: 2rem;
    font-family: monospace;
    border: black solid 5px;
    border-radius: 20px;
    padding: 5px;
    bottom: 70px;
    right: 500px;
}



@media screen and (max-width: 1180px) {


    @keyframes right-to-left {
        0% {left: 320px;
            transform: rotate(20deg);
            top: 350px;}
        50% {
            
            top: 240px;}    
        100% {left: 30px;
            transform: rotate(-70deg);
            top: 350px;}
    }

    .title {
        padding: 5px;
    }

    #click {
        position: relative;
        text-align: center;
        padding: 5px;
        margin: auto;
    }

    #droplets {
  
        width: 200px;
        height: auto;
    
    }

    #apple {
        /*border: solid red 2px;*/
        
        margin-top: 5rem;
        width: 10rem;
        padding: 0%;
    }

    #portrait {
        /*border: solid green 1rem;*/
        margin-right: 150px;
       
    }

    #response {
        position: relative;
        visibility: hidden;
        font-size: 16px;
        font-family: monospace;
        border: black solid 5px;
        border-radius: 5px;
        padding: 1px;
        bottom: 0px;
        right: 0px;
    }
   
}

@media screen and (max-width: 450px) {
    


    @keyframes right-to-left {
        0% {left: 110px;
            transform: rotate(20deg);
            top: 420px;}
        50% {
            
            top: 240px;}    
        100% {left: 30px;
            transform: rotate(-70deg);
            top: 350px;}
    }

    

    .pics {
        /*border: solid black 1rem;*/
        display: inline-flex;
        width: 100vw;
        justify-content: center;
        
    }

    #apple {
        /*border: solid red 2px;*/
        
        margin-top: 5rem;
        width: 10rem;
        padding: 0px;
    }

    #portrait {
        /*border: solid green 1rem;*/
        margin: 0;
       
    }

    

   
    
   
}